/* <style type="text/css" > */
<!--
    body { 
       margin-left: 8%; margin-right: 8%; 
       margin-top: 1em; 
       background: white;
       font-family: sans-serif;
    }
    h1 { margin-left: -6%; color: green; text-align: center; margin-bottom: 1em;}
    h2,h3,h4,h5,h6 { margin-left: -4%; color: green;}

.vgrid { font-weight: bold;}
.alt   { text-decoration: line-through; }
.neu   { color: red; }

table.commandline {  padding: 4px; }
td.command {  font-family: Courier, mono-space; }
td.commandnr {  padding-right: 10px;  }

table.images {  text-align: center; padding: 10px; }
td.images  { padding: 10px; }
td.caption { padding: 10px; }

hr.bottom {  color: black; margin-top: 20px; margin-left: -6%; margin-right: -6%;}
div.bottom {  font-size: 70%; font-style: oblique; }
-->
/* </style> */

